div {
  height: 2em;
  background-color: rgb(128, 128, 128);
}

.big-address-detail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
