<app-header></app-header>

<div id="app-cmp-main-div">
    <h1>{{ title }} {{ getYear() }}</h1>
    <ul>
      <ng-container *ngFor="let address of addresses">
        <li
          (click)="showDetail(address)"
          *ngIf="birthDateFilter(address)"
        >
          <span>{{ address.firstName }} {{ address.lastName }}</span>
        </li>
      </ng-container>
    </ul>

    <p>
      {{ filteredItems() }} / {{ addresses.length }} éléments
    </p>

    <p-button label="Ajouter" (click)="add()"></p-button>

    <app-address-detail
      class="big-address-detail"
      [hidden]="isDetailHidden"
      [detail]="displayedAddress"
      (closeMe)="hideDetail($event)"
    ></app-address-detail>

    <app-add-address
      (address)="newAddress($event)"
    ></app-add-address>
</div>
